

{% extends 'index.html' %}
{% block content %}
<div class="login d-flex justify-content-center"> 
        <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
        <h2 class="text-center mb-4">Login</h2>

        {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}
            
            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="text-danger small">{{ form.username.errors }}</div>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="text-danger small">{{ form.password.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary w-100">Entrar</button>
        </form>
        <p class="change-form-p">Não possui uma conta? <a href="{% url 'register' %}">Registrar</a></p>
    </div>
</div>
{% endblock %}
