{% extends 'index.html' %}
{% block content %}
  <h3>Histórico de Entradas de Materiais</h3>

  <div class="container mt-4">
    <table border="1" cellpadding="8">
      <thead>
          <tr>
              <th>ID</th>
            
              <th>Data</th>
              <th>Origem</th>
              <th>Ações</th>
          </tr>
      </thead>
      <tbody>
          {% for entrada in movimentacoes %}
              <tr>
                  <td>{{ entrada.id }}</td>
                 
                  <td>{{ entrada.data|date:"d/m/Y H:i" }}</td>
                  <td>{{ entrada.get_origem_display }}</td>
                  <td>
                      <a href="{% url 'gerar_relatorio_entrada_pdf' entrada.id %}" target="_blank">📄 PDF</a>
                  </td>
              </tr>
          {% empty %}
              <tr><td colspan="5">Nenhuma entrada registrada.</td></tr>
          {% endfor %}
      </tbody>
  </table>
  </div>

{% endblock %}