{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Relatório de Baixa de Estoque</title>
   
</head>
<div class="relatorio-baixa">
    <h1 class="h1-relatorios">Relatório de Baixa de Estoque</h1>

    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Lote</th>
                <th>Quantidade Baixada</th>
                <th>Validade</th>
                <th>Fornecedor</th>
                <th>Tipo de Movimentação</th>
                <th>Requisitante</th>
            </tr>
        </thead>
        <tbody>
            {% for movimentacao in movimentacoes %}
                <tr>
                    <td>{{ movimentacao.produto.nome }}</td>
                    <td>{{ movimentacao.lote }}</td>
                    <td>{{ movimentacao.quantidade }}</td>
                    <td>{{ movimentacao.descricao.descricao }}</td>
                    <td>{{ movimentacao.validade }}</td>
                    <td>{{ movimentacao.fornecedor }}</td>
                    <td>{{ movimentacao.origem }}</td>
                    <td>{{ movimentacao.requisitante }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="footer">
        <p>Gerado em: {{ now|date:"d/m/Y H:i" }}</p>
    </div>
</div>
</html>
